.chat-area {
  width: 20em;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.message-area {
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.input-area {
  margin: .5em;
}

.input-area input {
  width: 100%;
}

.input-area button {
  margin: .5em;
  float: right;
}

/* .messages {
  display: flex !important;
  flex-direction: column !important;
  -webkit-box-flex: 1 !important;
  flex-grow: 1 !important;
  overflow: hidden !important;
} */

