.message {
  display: flex;
}

.message-content {
  font-size: 1.2rem;
  color: #ebebeb;
  margin: .3em .5em
}

span {
  display: flex;
}

.delete {
  fill: rgb(158, 39, 39);
  cursor: pointer;
  position: relative;
  top: .3em;
}