.button {
  font: inherit;
  border: 1px solid #1d1d1d;
  background: #1d1d1d;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #535353;
  border-color: #acacac;
}

.button:focus {
  outline: none;
}